<!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

<h1>Fan Movie Reviews</h1>
<img src="https://cdn0.iconfinder.com/data/icons/flaturici-set-3/512/film-256.png" alt="rss feed" />


<% if current_user %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign In', new_user_registration_path %>
<% end %>
<% @movies.each do |movie| %>
  <h2><%= link_to movie.title, movies_path(movie) %></h2>
  <p><%= movie.description %></p>
  <%= image_tag movie.image %>
<% end %>